@use '../base/global' as *;

.blue-background {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, black, $primary-color, $secondary-color);

    /*
    // Intersection observer 
    &__text, 
    &__svg,
    &__link {
        //only visible when in viewport
        opacity: 0;
        transition: opacity 1s ease; 
    }
    
    &.visible .scene4__text, 
    &.visible .scene4__svg {
        opacity: 1;
    }*/
}