@use '../base/global' as *;
@use '../base/intersectionObserver' as *;

.beach {
    position: relative;
    background: linear-gradient(to left, $secondary-color, $tertiary-color);
    height: 100vh;
    z-index: 1;

    &__text {
        max-width: 60%;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;

        &--first {
            left: 5%;
            top: 20%;
            color: $text-color-dark;
            opacity: 0;
        }
        &--second {
            position: absolute;
            bottom: 25%;
            left: 40%;
            color: $text-color-light;
            animation: bounce 2s infinite;
        }
    }

    // Surface above the ocean
    &__surface {
        position: absolute;
        bottom: 40%;
        width: 100%;
        height: 20vh;
        background-image: linear-gradient(to bottom, #ffeed7, #ddb888);
        z-index: 0;
    }
    // Blue ocean rectangle
    &__ocean {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40vh;
        background: linear-gradient(to bottom, $secondary-color, $primary-color);
        z-index: 0;
    }

    &__svg {
        position: absolute; // all svg elements are absolute
        
        &--beach {
            width: 12vh;
            top: 43%;
            right: 15%;
        }
        &--umbrella {
            width: 15vh;
            top: 42%;
            left: 15%;
        }
        &--turtle {
            width: 10vh;
            top: 80%;
            left: 20%;
        }
        &--fish1 {
            width: 8vh;
            top: 70%;
            right: 15%;
        }
        &--fish2 {
            width: 8vh;
            top: 70%;
            left: 10%;
        }
        &--wave {
            width: 40vh;
            bottom: 0;
            left: 40%;
            opacity: 0.3;
            animation: wave 5s ease-in-out infinite;
        }
        &--crab {
            width: 5vh;
            top: 52%;
            left: 50%;
        }
        &--turtle,
        &--fish1,
        &--fish2 {
            animation: swim 3s ease-in-out infinite;
        }
    }

    &__svg--beach,
    &__svg--umbrella,
    &__svg--fish1,
    &__svg--fish2,
    &__svg--turtle,
    &__svg--wave,
    &__svg--crab,
    &__text {
        z-index: 1; // all elements on top of ocean and surface
    }
}

// Animations for scroll text
@keyframes bounce {
    0%, 100% { transform: translate(-10%, 0); }
    50% { transform: translate(-10%, 5px); }
}

// Animations for sea creatures and ocean
@keyframes swim {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(15px); }
}
@keyframes wave {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}