@use '../base/global' as *;

.changing {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, $button-color, $dark-color, $dark-color);
    color: $text-color-light;

    &__text {
        max-width: 50%;
        font-size: $font-xl;
        position: absolute;
        font-weight: bold;
        top: 15%;
        right: 8%;
    }


    /*
    // Intersection observer 
    &__text, 
    &__svg {
        //only visible when in viewport
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 1s ease, transform 1s ease;
    }
    &.visible .scene3__text, 
    &.visible .scene3__svg {
        opacity: 1;
        transform: translateY(0);
    }*/
}