@use '../base/global' as *;

.corals {
    position: relative;
    background: linear-gradient(to top, $button-color, $primary-color);
    height: 100vh;
    color: $text-color-light;

    &__text {
        max-width: 50%;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;
        top: 20%;
        left: 10%;
    }

    &__svg {
        position: absolute; // all svg elements are absolute
        
        &--seaweed1 {
            width: 50vh;
            bottom: 0;
            left: 0;
        }
        &--seaweed2 {
            width: 50vh;
            bottom: 0;
            right: 0;
        }
        &--seabottom {
            width: 50vh;
            bottom: 0;
            left: 40%;
        }
    }

    /*
    // Intersection observer 
    &__text, 
    &__svg {
        //only visible when in viewport
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 1s ease, transform 1s ease;
    }
    &.visible .scene2__text, 
    &.visible .scene2__svg {
        opacity: 1;
        transform: translateY(0);
    }*/
}