@use '../base/global' as *;
@use '../base/intersectionObserver' as *;

.ecosystems {
    position: relative;
    background: linear-gradient(to bottom, $button-color, $primary-color);
    height: 100vh;
    color: $text-color-light;

    &__text {
        max-width: 60vw;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;
        top: 60%;
        left: 50%;
    }

    &__svg {
        position: absolute; // all svg elements are absolute
     
        &--dolphin {
            width: 50vh;
            top: 10%;
            right: 30%;
        }
        &--jellyfish {
            width: 15vh;
            top: 15%;
            right: 10%;
        }
        &--fishes {
            width: 25vh;
            top: 20%;
            left: 10%;
        }
        &--green-fish {
            width: 20vh;
            bottom: 15%;
            left: 10%;
        }
    }
}