@use '../base/global' as *;
@use '../base/intersectionObserver' as *;

.plastic {
    height: 100vh;
    position: relative;
    background-color: black;
    color: $text-color-light;
    overflow-x: hidden;

    &__text {
        max-width: 50%;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;
        top: 20%;
        left: 30%;
        transform: translateX(-50%);
    }

    &__svg {
        position: absolute;

        &--fishbone1 {
            width: 20vh;
            top: 40%;
            left: 5%;
            animation: fishbone 3s ease-in-out infinite;
        }

        &--fishbone2 {
            width: 15vh;
            top: 50%;
            left: 18%;
            animation: fishbone 3s ease-in-out infinite;
        }

        &--garbage {
            width: 20vh;
            top: 35%;
            right: 10%;
        }

        &--plastic {
            width: 15vh;
            bottom: 20%;
            left: 50%;
        }

        &--bandage {
            width: 10vh;
            top: 5%;
            right: 10%;
        }

        &--garbage,
        &--plastic,
        &--bandage {
            animation: pulse 2s infinite ease-in-out;
        }
    }

    @media screen and (max-width: 768px) {
        .plastic__text {
          max-width: 90%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 1.2rem;
          top: 15%;
          text-align: center;
        }
      
        .plastic__svg--fishbone1 {
          width: 8vh;
          bottom: 50%;
          left: 25%;
          transform: translateX(-50%);
          top: auto;
        }
      
        .plastic__svg--fishbone2 {
          width: 6vh;
          bottom: 40%;
          left: 35%;
          transform: translateX(-50%);
          top: auto;
        }
      
        .plastic__svg--plastic {
          width: 8vh;
          bottom: 20%;
          left: 50%;
          transform: translateX(-50%);
        }
      
        .plastic__svg--garbage {
          width: 8vh;
          bottom: 50%;
          left: 65%;
          transform: translateX(-50%);
          top: auto;
        }
      
        .plastic__svg--bandage {
          width: 6vh;
          top: 5%;
          right: 10%;
        }
      }
      
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}
@keyframes fishbone {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); 
    }
    100% {
        transform: translateX(0); 
    }
}