@use '../base/global' as *;
@use '../base/intersectionObserver' as *;

.pollution {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, $dark-color, black);
    color: $text-color-light;

    &__text {
        max-width: 50%;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;
        top: 45%;
        left: 10%;
    }

    &__svg {
        position: absolute; // all svg elements are absolute
        
        &--anchor {
            width: 30vh;
            bottom: 15%;
            right: 10%;
        }
        &--bottle {
            width: 15vh;
            top: 65%;
            left: 10%;
        }
        &--dirt {
            width: 10vh;
            top: 15%;
            right: 10%;
        }
        
        &--oil {
            width: 40vh;
            top: 5%;
            left: 15%;
        }
    }

    @media screen and (max-width: 768px) {
        &__text {
            max-width: 80%;
        }
        &__svg {
            &--anchor {
                width: 15vh;  
            }
            &--oil {
                width: 20vh;
            }
            &--dirt {
                width: 5vh;
                top: 25%;
            }
            &--bottle {
                width: 10vh;
            }
        }
    }
}