@use '../base/global' as *;
@use '../base/intersectionObserver' as *;

.readmore {
    height: 100vh;
    position: relative;
    background-color: $secondary-color;
    color: $text-color-dark;
    overflow: hidden;

    &__text {
        max-width: 70%;
        font-size: $font-l;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 50%; 
        transform: translateX(-50%);
    }

    &__svg {
        position: absolute;
        width: 60vh;
        bottom: 0;
        left: 0;
    }

    &__link {
        position: absolute;
        bottom: 40%;
        left: 50%; 
        transform: translateX(-50%);
    }

    //inspiration: https://codemyui.com/tag/button/ 
    &__button {
        position: absolute;
        bottom: 30%;
        left: 50%; 
        transform: translateX(-50%);
    }
    &__message {
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        color: $text-color-dark;
        font-size: $font-m;
        display: none; // hidden
    }
}

// button styling
button {
    display: block;
    background-color: $dark-color;
    color: $text-color-light;
    border: 1px solid transparent; 
    border-radius: 1rem;
    padding: 1rem;
    font-size: clamp($font-s, 2vw, $font-m);
    cursor: pointer;

    &:hover {
        background-color: $button-color;
    }
}

 