@use 'base/global';
@use 'base/reset';

// part 1 - above the surface
@use 'components/introduction';
@use 'components/sky';
@use 'components/beach';

// part 2 - the ocean's beauty
@use 'components/corals';
@use 'components/ecosystems';
@use 'components/scroll';

// part 3 - the threats
@use 'components/changing';
@use 'components/pollution';
@use 'components/plastic';

// part 4 - call to action
@use 'components/background';
@use 'components/cta';
@use 'components/acts';
@use 'components/readmore';


@use 'utilities/utilities';