@use '../base/global' as *;

.scene4 {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, black 0%, $primary-color 30%, $secondary-color 60%, $tertiary-color 100%);
    color: $text-color-light;

    &__text {
        max-width: 70%;
        font-size: $font-m;
        position: absolute;
        font-weight: bold;
        text-align: center;
        left: 50%; 
        transform: translateX(-50%);

        top: 10%;

        &--first {
            top: 8%;
            
        }
        &--second {
            top: 20%;
            font-size: $font-l;
        }
        &--third {
            top: 40%;
        }
        &--fourth {
            top: 55%;
            color: $text-color-dark;

        }
        &--fifth {
            top: 70%;
            color: $text-color-dark;
        }
    }

    &__link {
        position: absolute;
        bottom: 20%;
        left: 50%; 
        transform: translateX(-50%);
    }

    &__button {
        position: absolute;
        bottom: 10%;
        left: 50%; 
        transform: translateX(-50%);
    }

    // Intersection observer 
    &__text, 
    &__svg,
    &__link,
    &__button {
        //only visible when in viewport
        opacity: 0;
        transition: opacity 1s ease; 
    }
    
    &.visible .scene4__text, 
    &.visible .scene4__svg,
    &.visible .scene4__link,
    &.visible .scene4__button {
        opacity: 1;
    }
}

button {
    display: block;
    background-color: $dark-color;
    color: $text-color-light;
    border: 1px solid transparent; 
    border-radius: 1rem;
    padding: 1rem;
    font-size: clamp($font-s, 2vw, $font-m);
    cursor: pointer;

    &:hover {
        background-color: $primary-color;
    }
}