@use '../base/global' as *;

.scene2 {
    position: relative;
    background: linear-gradient(to top, $button-color, $primary-color);
    height: 100vh;
    color: $text-color-light;

    &__text {
        max-width: 50%;
        font-size: $font-l;
        position: absolute;
        font-weight: bold;

        &--first {
            top: 15%;
            left: 10%;
        }
        &--second {
            top: 50%;
            left: 50%;
        }
        &--third {
            bottom: 15%;
            right: 20%;
            z-index: 2;
        }
    }

    // Intersection observer 
    &__text, 
    &__svg {
        //only visible when in viewport
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 1s ease, transform 1s ease;
    }
    &.visible .scene2__text, 
    &.visible .scene2__svg {
        opacity: 1;
        transform: translateY(0);
    }
}